
body{
    margin : 0 auto; 
    font-family: cursive; 
    background-color: khaki; 
    text-align: center;
 
}

h1 {
    font-size: 65px; margin : 0
}
#photo {
    width:700px;
    height: 500px;
    margin: 0;
    border: solid darkgray 5px;

}

.gray-container { 
    background-color: black; 
    width:700px; 
    opacity: 60%; 
    position: absolute;
    top: 485px;
    left: 610px;
}

h2 { color: white;
    
}

p { color: white;
    
}
#rightarrow {
    transform: rotate( 0.5turn); 
    height: 510px; 
    width: 70px;
    background-color: whitesmoke;
    margin: 0;
}
#leftarrow {
    height: 510px; 
    width: 70px;
    background-color:whitesmoke;
    margin: 0;
}
